-# NS Records
- if service.record_types
  %td= raw service.record_types.join(', ')
- else
  %td
    %i none (only external servers)

-# URL forwarding
- if service.forwarding
  %td.positive ✓
- else
  %td.negative ✗

-# External DNS
- if service.custom_ns
  %td.positive ✓
- else
  %td.negative ✗
