-# NS Records
- if service.record_types
  %td= service.record_types.join(', ')
- else
  %td
    %i none (only external servers)

-# URL forwarding
- if service.forwarding
  %td.yes ✓
- else
  %td.no ✗

-# External DNS
- if service.custom_ns
  %td.yes ✓
- else
  %td.no ✗
