...
title: 'Free Domain Names'
...

.ui.container
  %table.ui.celled.table
    %thead
      %tr
        %th Zone
        %th Service
    %tbody
      - data.zones.each do |name, zone|
        - service = data.services[zone.service]
        %tr
          %td
            = name
          %td
            = link_to service.name, service.url
