...
title: 'Free Domain Names'
...

.ui.container
  %table.ui.celled.table
    %thead
      %tr
        %th Zone
        %th NS Records
        %th Custom DNS
        %th Service
    %tbody
      - data.zones.each do |name, zone|
        - service = data.services[zone.service]
        %tr
          %td
            = name
          %td
            = (service.record_types || []).join(', ')
          %td
            - if service.custom_ns
              ☑
            - else
              ☐
          %td
            = link_to service.name, service.url
